<ul>
    <% @books.each do |book| %>
  <li><u><%= link_to book.title, 
    :action => 'show', :id => book.id  %></u>
   - <b>Author:</b> <%= book.author.name %> - <b>ISBN:</b> <%= book.isbn %></li>
   <% end %>
</ul>