<article class="book">
  <header>
  </header>

  <p><label><%= @user.username %></label> reserved <label><%= @book.title %></label> on <label><%= @reservation.reserved_on %></label> and is due on <label><%= @reservation.due_on %></label> </p>
  
</article>