<article class="book">
  <header>
  </header>
  <p><b><%= @user.username %></b> reserved <b><%= link_to(@book.title, @book) %></b> on <b><%= @reservation.reserved_on %></b> and is due on <b><%= @reservation.due_on %></b> </p>
</article>