<%- if user_signed_in? %>
<nav class="navbar navbar-default">
  <div class="container">
<<<<<<< HEAD
    <h3 class="text-center text-muted">For assistance email team7@gmail.com</h3>
=======
    <h3 class="text-center text-muted">

    </h3>
>>>>>>> b766d82f05a067c4172ccec5f3690ddfb18037c1
  </div>
</nav>
<% end -%>